# Auto detect text files and perform LF normalization
* text=auto

# Markdown files
*.md text eol=lf
*.mdx text eol=lf

# Source code
*.go text eol=lf
*.js text eol=lf
*.ts text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.sh text eol=lf

# Windows scripts
*.bat text eol=crlf
*.cmd text eol=crlf

# Documentation
*.txt text eol=lf
