{
  "meta": {
    "version": "1.0.0",
    "createdAt": "{{.CreatedAt}}"
  },
  "table": {
    "id": "{{.TableID}}",
    "appId": "{{.AppID}}",
    "connectId": null,
    "tableComment": "{{.EntityName}} entity",
    "description": "{{.EntityName}} entity",
    "title": "{{.ModelName}}",
    "tableName": "{{.TableName}}",
    "tableType": "entity",
    "entityName": "{{.EntityName}}",
    "enableStatus": 1,
    "viewSql": null,
    "sourceType": "cli",
    "packBusData": null,
    "delStatus": 0,
    "seqNo": 0,
    "acrossApp": 0,
    "acrossWorkflow": 0,
    "tableSchema": "creation",
    "cacheType": null
  }
}
