{
  "meta": {
    "version": "1.0.0",
    "tableId": "tbl_user_001"
  },
  "columns": [
    {
      "id": "col_user_id",
      "appId": null,
      "tableId": "tbl_user_001",
      "fieldName": "id",
      "isUnique": false,
      "isNullable": false,
      "columnDefault": null,
      "description": "主键",
      "columnType": "varchar(32)",
      "title": "主键",
      "characterMaxinumLength": 32,
      "datetimePrecision": "0",
      "tableSchema": "platform",
      "tableName": "platform_user",
      "isForeignColumn": false,
      "abstractColumn": null,
      "extra": null,
      "columnKey": true,
      "linked": 0,
      "numericPrecision": 19,
      "numericSigned": null,
      "autoIncrement": false,
      "dataType": "varchar",
      "selectType": null,
      "typeExtra": null,
      "extraValue": null,
      "extraMap": null,
      "ordinalPosition": 1,
      "refLocalCol": null,
      "abstractColumnExpressions": null,
      "foreignColName": null,
      "columnName": "id",
      "columnComment": "主键",
      "tableCatalog": null,
      "enableStatus": 1,
      "numericScale": 0,
      "foreignTable": null,
      "autoAdd": null,
      "autoName": null,
      "synced": 0,
      "encrypted": 0,
      "marker": null,
      "drawed": 1,
      "deptId": null,
      "buId": null,
      "tenantCode": null,
      "delStatus": 0
    },
    {
      "id": "col_user_name",
      "appId": null,
      "tableId": "tbl_user_001",
      "fieldName": "name",
      "isUnique": false,
      "isNullable": false,
      "columnDefault": null,
      "description": "用户名",
      "columnType": "varchar(100)",
      "title": "用户名",
      "characterMaxinumLength": 100,
      "datetimePrecision": "0",
      "tableSchema": "platform",
      "tableName": "platform_user",
      "isForeignColumn": false,
      "abstractColumn": null,
      "extra": null,
      "columnKey": false,
      "linked": 0,
      "numericPrecision": 19,
      "numericSigned": null,
      "autoIncrement": false,
      "dataType": "varchar",
      "selectType": null,
      "typeExtra": null,
      "extraValue": null,
      "extraMap": null,
      "ordinalPosition": 2,
      "refLocalCol": null,
      "abstractColumnExpressions": null,
      "foreignColName": null,
      "columnName": "name",
      "columnComment": "用户名",
      "tableCatalog": null,
      "enableStatus": 1,
      "numericScale": 0,
      "foreignTable": null,
      "autoAdd": null,
      "autoName": null,
      "synced": 0,
      "encrypted": 0,
      "marker": null,
      "drawed": 1,
      "deptId": null,
      "buId": null,
      "tenantCode": null,
      "delStatus": 0
    },
    {
      "id": "col_user_login_name",
      "appId": null,
      "tableId": "tbl_user_001",
      "fieldName": "loginName",
      "isUnique": false,
      "isNullable": false,
      "columnDefault": null,
      "description": "登录名",
      "columnType": "varchar(50)",
      "title": "登录名",
      "characterMaxinumLength": 50,
      "datetimePrecision": "0",
      "tableSchema": "platform",
      "tableName": "platform_user",
      "isForeignColumn": false,
      "abstractColumn": null,
      "extra": null,
      "columnKey": false,
      "linked": 0,
      "numericPrecision": 19,
      "numericSigned": null,
      "autoIncrement": false,
      "dataType": "varchar",
      "selectType": null,
      "typeExtra": null,
      "extraValue": null,
      "extraMap": null,
      "ordinalPosition": 3,
      "refLocalCol": null,
      "abstractColumnExpressions": null,
      "foreignColName": null,
      "columnName": "login_name",
      "columnComment": "登录名",
      "tableCatalog": null,
      "enableStatus": 1,
      "numericScale": 0,
      "foreignTable": null,
      "autoAdd": null,
      "autoName": null,
      "synced": 0,
      "encrypted": 0,
      "marker": null,
      "drawed": 1,
      "deptId": null,
      "buId": null,
      "tenantCode": null,
      "delStatus": 0
    },
    {
      "id": "col_user_email",
      "appId": null,
      "tableId": "tbl_user_001",
      "fieldName": "email",
      "isUnique": false,
      "isNullable": true,
      "columnDefault": null,
      "description": "邮箱地址",
      "columnType": "varchar(200)",
      "title": "邮箱",
      "characterMaxinumLength": 200,
      "datetimePrecision": "0",
      "tableSchema": "platform",
      "tableName": "platform_user",
      "isForeignColumn": false,
      "abstractColumn": null,
      "extra": null,
      "columnKey": false,
      "linked": 0,
      "numericPrecision": 19,
      "numericSigned": null,
      "autoIncrement": false,
      "dataType": "varchar",
      "selectType": null,
      "typeExtra": null,
      "extraValue": null,
      "extraMap": null,
      "ordinalPosition": 4,
      "refLocalCol": null,
      "abstractColumnExpressions": null,
      "foreignColName": null,
      "columnName": "email",
      "columnComment": "邮箱地址",
      "tableCatalog": null,
      "enableStatus": 1,
      "numericScale": 0,
      "foreignTable": null,
      "autoAdd": null,
      "autoName": null,
      "synced": 0,
      "encrypted": 0,
      "marker": null,
      "drawed": 1,
      "deptId": null,
      "buId": null,
      "tenantCode": null,
      "delStatus": 0
    },
    {
      "id": "col_user_phone",
      "appId": null,
      "tableId": "tbl_user_001",
      "fieldName": "phone",
      "isUnique": false,
      "isNullable": true,
      "columnDefault": null,
      "description": "手机号",
      "columnType": "varchar(20)",
      "title": "手机号",
      "characterMaxinumLength": 20,
      "datetimePrecision": "0",
      "tableSchema": "platform",
      "tableName": "platform_user",
      "isForeignColumn": false,
      "abstractColumn": null,
      "extra": null,
      "columnKey": false,
      "linked": 0,
      "numericPrecision": 19,
      "numericSigned": null,
      "autoIncrement": false,
      "dataType": "varchar",
      "selectType": null,
      "typeExtra": null,
      "extraValue": null,
      "extraMap": null,
      "ordinalPosition": 5,
      "refLocalCol": null,
      "abstractColumnExpressions": null,
      "foreignColName": null,
      "columnName": "phone",
      "columnComment": "手机号",
      "tableCatalog": null,
      "enableStatus": 1,
      "numericScale": 0,
      "foreignTable": null,
      "autoAdd": null,
      "autoName": null,
      "synced": 0,
      "encrypted": 0,
      "marker": null,
      "drawed": 1,
      "deptId": null,
      "buId": null,
      "tenantCode": null,
      "delStatus": 0
    },
    {
      "id": "col_user_status",
      "appId": null,
      "tableId": "tbl_user_001",
      "fieldName": "status",
      "isUnique": false,
      "isNullable": false,
      "columnDefault": "1",
      "description": "状态：0-禁用，1-启用",
      "columnType": "int",
      "title": "状态",
      "characterMaxinumLength": null,
      "datetimePrecision": "0",
      "tableSchema": "platform",
      "tableName": "platform_user",
      "isForeignColumn": false,
      "abstractColumn": null,
      "extra": null,
      "columnKey": false,
      "linked": 0,
      "numericPrecision": 19,
      "numericSigned": null,
      "autoIncrement": false,
      "dataType": "int",
      "selectType": null,
      "typeExtra": null,
      "extraValue": null,
      "extraMap": null,
      "ordinalPosition": 6,
      "refLocalCol": null,
      "abstractColumnExpressions": null,
      "foreignColName": null,
      "columnName": "status",
      "columnComment": "状态：0-禁用，1-启用",
      "tableCatalog": null,
      "enableStatus": 1,
      "numericScale": 0,
      "foreignTable": null,
      "autoAdd": null,
      "autoName": null,
      "synced": 0,
      "encrypted": 0,
      "marker": null,
      "drawed": 1,
      "deptId": null,
      "buId": null,
      "tenantCode": null,
      "delStatus": 0
    },
    {
      "id": "col_user_dept_id",
      "appId": null,
      "tableId": "tbl_user_001",
      "fieldName": "deptId",
      "isUnique": false,
      "isNullable": true,
      "columnDefault": null,
      "description": "部门ID",
      "columnType": "varchar(32)",
      "title": "部门",
      "characterMaxinumLength": 32,
      "datetimePrecision": "0",
      "tableSchema": "platform",
      "tableName": "platform_user",
      "isForeignColumn": true,
      "abstractColumn": null,
      "extra": null,
      "columnKey": false,
      "linked": 0,
      "numericPrecision": 19,
      "numericSigned": null,
      "autoIncrement": false,
      "dataType": "varchar",
      "selectType": null,
      "typeExtra": null,
      "extraValue": null,
      "extraMap": null,
      "ordinalPosition": 7,
      "refLocalCol": null,
      "abstractColumnExpressions": null,
      "foreignColName": null,
      "columnName": "dept_id",
      "columnComment": "部门ID",
      "tableCatalog": null,
      "enableStatus": 1,
      "numericScale": 0,
      "foreignTable": null,
      "autoAdd": null,
      "autoName": null,
      "synced": 0,
      "encrypted": 0,
      "marker": null,
      "drawed": 1,
      "deptId": null,
      "buId": null,
      "tenantCode": null,
      "delStatus": 0
    },
    {
      "id": "col_user_create_at",
      "appId": null,
      "tableId": "tbl_user_001",
      "fieldName": "createAt",
      "isUnique": false,
      "isNullable": false,
      "columnDefault": "CURRENT_TIMESTAMP",
      "description": "创建时间",
      "columnType": "datetime",
      "title": "创建时间",
      "characterMaxinumLength": null,
      "datetimePrecision": "0",
      "tableSchema": "platform",
      "tableName": "platform_user",
      "isForeignColumn": false,
      "abstractColumn": null,
      "extra": null,
      "columnKey": false,
      "linked": 0,
      "numericPrecision": 19,
      "numericSigned": null,
      "autoIncrement": false,
      "dataType": "datetime",
      "selectType": null,
      "typeExtra": null,
      "extraValue": null,
      "extraMap": null,
      "ordinalPosition": 8,
      "refLocalCol": null,
      "abstractColumnExpressions": null,
      "foreignColName": null,
      "columnName": "create_at",
      "columnComment": "创建时间",
      "tableCatalog": null,
      "enableStatus": 1,
      "numericScale": 0,
      "foreignTable": null,
      "autoAdd": null,
      "autoName": null,
      "synced": 0,
      "encrypted": 0,
      "marker": null,
      "drawed": 1,
      "deptId": null,
      "buId": null,
      "tenantCode": null,
      "delStatus": 0
    },
    {
      "id": "col_user_creator",
      "appId": null,
      "tableId": "tbl_user_001",
      "fieldName": "creator",
      "isUnique": false,
      "isNullable": false,
      "columnDefault": null,
      "description": "创建者",
      "columnType": "varchar(32)",
      "title": "创建者",
      "characterMaxinumLength": 32,
      "datetimePrecision": "0",
      "tableSchema": "platform",
      "tableName": "platform_user",
      "isForeignColumn": false,
      "abstractColumn": null,
      "extra": null,
      "columnKey": false,
      "linked": 0,
      "numericPrecision": 19,
      "numericSigned": null,
      "autoIncrement": false,
      "dataType": "varchar",
      "selectType": null,
      "typeExtra": null,
      "extraValue": null,
      "extraMap": null,
      "ordinalPosition": 9,
      "refLocalCol": null,
      "abstractColumnExpressions": null,
      "foreignColName": null,
      "columnName": "creator",
      "columnComment": "创建者",
      "tableCatalog": null,
      "enableStatus": 1,
      "numericScale": 0,
      "foreignTable": null,
      "autoAdd": null,
      "autoName": null,
      "synced": 0,
      "encrypted": 0,
      "marker": null,
      "drawed": 1,
      "deptId": null,
      "buId": null,
      "tenantCode": null,
      "delStatus": 0
    },
    {
      "id": "col_user_creator_name",
      "appId": null,
      "tableId": "tbl_user_001",
      "fieldName": "creatorName",
      "isUnique": false,
      "isNullable": true,
      "columnDefault": null,
      "description": "创建者名称",
      "columnType": "varchar(64)",
      "title": "创建者名称",
      "characterMaxinumLength": 64,
      "datetimePrecision": "0",
      "tableSchema": "platform",
      "tableName": "platform_user",
      "isForeignColumn": false,
      "abstractColumn": null,
      "extra": null,
      "columnKey": false,
      "linked": 0,
      "numericPrecision": 19,
      "numericSigned": null,
      "autoIncrement": false,
      "dataType": "varchar",
      "selectType": null,
      "typeExtra": null,
      "extraValue": null,
      "extraMap": null,
      "ordinalPosition": 10,
      "refLocalCol": null,
      "abstractColumnExpressions": null,
      "foreignColName": null,
      "columnName": "creator_name",
      "columnComment": "创建者名称",
      "tableCatalog": null,
      "enableStatus": 1,
      "numericScale": 0,
      "foreignTable": null,
      "autoAdd": null,
      "autoName": null,
      "synced": 0,
      "encrypted": 0,
      "marker": null,
      "drawed": 1,
      "deptId": null,
      "buId": null,
      "tenantCode": null,
      "delStatus": 0
    },
    {
      "id": "col_user_update_at",
      "appId": null,
      "tableId": "tbl_user_001",
      "fieldName": "updateAt",
      "isUnique": false,
      "isNullable": false,
      "columnDefault": "CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP",
      "description": "更新时间",
      "columnType": "datetime",
      "title": "更新时间",
      "characterMaxinumLength": null,
      "datetimePrecision": "0",
      "tableSchema": "platform",
      "tableName": "platform_user",
      "isForeignColumn": false,
      "abstractColumn": null,
      "extra": null,
      "columnKey": false,
      "linked": 0,
      "numericPrecision": 19,
      "numericSigned": null,
      "autoIncrement": false,
      "dataType": "datetime",
      "selectType": null,
      "typeExtra": null,
      "extraValue": null,
      "extraMap": null,
      "ordinalPosition": 11,
      "refLocalCol": null,
      "abstractColumnExpressions": null,
      "foreignColName": null,
      "columnName": "update_at",
      "columnComment": "更新时间",
      "tableCatalog": null,
      "enableStatus": 1,
      "numericScale": 0,
      "foreignTable": null,
      "autoAdd": null,
      "autoName": null,
      "synced": 0,
      "encrypted": 0,
      "marker": null,
      "drawed": 1,
      "deptId": null,
      "buId": null,
      "tenantCode": null,
      "delStatus": 0
    },
    {
      "id": "col_user_updater",
      "appId": null,
      "tableId": "tbl_user_001",
      "fieldName": "updater",
      "isUnique": false,
      "isNullable": false,
      "columnDefault": null,
      "description": "更新者",
      "columnType": "varchar(32)",
      "title": "更新者",
      "characterMaxinumLength": 32,
      "datetimePrecision": "0",
      "tableSchema": "platform",
      "tableName": "platform_user",
      "isForeignColumn": false,
      "abstractColumn": null,
      "extra": null,
      "columnKey": false,
      "linked": 0,
      "numericPrecision": 19,
      "numericSigned": null,
      "autoIncrement": false,
      "dataType": "varchar",
      "selectType": null,
      "typeExtra": null,
      "extraValue": null,
      "extraMap": null,
      "ordinalPosition": 12,
      "refLocalCol": null,
      "abstractColumnExpressions": null,
      "foreignColName": null,
      "columnName": "updater",
      "columnComment": "更新者",
      "tableCatalog": null,
      "enableStatus": 1,
      "numericScale": 0,
      "foreignTable": null,
      "autoAdd": null,
      "autoName": null,
      "synced": 0,
      "encrypted": 0,
      "marker": null,
      "drawed": 1,
      "deptId": null,
      "buId": null,
      "tenantCode": null,
      "delStatus": 0
    },
    {
      "id": "col_user_updater_name",
      "appId": null,
      "tableId": "tbl_user_001",
      "fieldName": "updaterName",
      "isUnique": false,
      "isNullable": true,
      "columnDefault": null,
      "description": "更新者名称",
      "columnType": "varchar(64)",
      "title": "更新者名称",
      "characterMaxinumLength": 64,
      "datetimePrecision": "0",
      "tableSchema": "platform",
      "tableName": "platform_user",
      "isForeignColumn": false,
      "abstractColumn": null,
      "extra": null,
      "columnKey": false,
      "linked": 0,
      "numericPrecision": 19,
      "numericSigned": null,
      "autoIncrement": false,
      "dataType": "varchar",
      "selectType": null,
      "typeExtra": null,
      "extraValue": null,
      "extraMap": null,
      "ordinalPosition": 13,
      "refLocalCol": null,
      "abstractColumnExpressions": null,
      "foreignColName": null,
      "columnName": "updater_name",
      "columnComment": "更新者名称",
      "tableCatalog": null,
      "enableStatus": 1,
      "numericScale": 0,
      "foreignTable": null,
      "autoAdd": null,
      "autoName": null,
      "synced": 0,
      "encrypted": 0,
      "marker": null,
      "drawed": 1,
      "deptId": null,
      "buId": null,
      "tenantCode": null,
      "delStatus": 0
    },
    {
      "id": "col_user_del_status",
      "appId": null,
      "tableId": "tbl_user_001",
      "fieldName": "delStatus",
      "isUnique": false,
      "isNullable": false,
      "columnDefault": "0",
      "description": "逻辑删除状态，1：已删除、0：未删除",
      "columnType": "int",
      "title": "删除状态",
      "characterMaxinumLength": null,
      "datetimePrecision": "0",
      "tableSchema": "platform",
      "tableName": "platform_user",
      "isForeignColumn": false,
      "abstractColumn": null,
      "extra": null,
      "columnKey": false,
      "linked": 0,
      "numericPrecision": 19,
      "numericSigned": null,
      "autoIncrement": false,
      "dataType": "int",
      "selectType": null,
      "typeExtra": null,
      "extraValue": null,
      "extraMap": null,
      "ordinalPosition": 14,
      "refLocalCol": null,
      "abstractColumnExpressions": null,
      "foreignColName": null,
      "columnName": "del_status",
      "columnComment": "逻辑删除状态，1：已删除、0：未删除",
      "tableCatalog": null,
      "enableStatus": 1,
      "numericScale": 0,
      "foreignTable": null,
      "autoAdd": null,
      "autoName": null,
      "synced": 0,
      "encrypted": 0,
      "marker": null,
      "drawed": 1,
      "deptId": null,
      "buId": null,
      "tenantCode": null,
      "delStatus": 0
    },
    {
      "id": "col_user_delete_at",
      "appId": null,
      "tableId": "tbl_user_001",
      "fieldName": "deleteAt",
      "isUnique": false,
      "isNullable": true,
      "columnDefault": null,
      "description": "删除时间",
      "columnType": "datetime",
      "title": "删除时间",
      "characterMaxinumLength": null,
      "datetimePrecision": "0",
      "tableSchema": "platform",
      "tableName": "platform_user",
      "isForeignColumn": false,
      "abstractColumn": null,
      "extra": null,
      "columnKey": false,
      "linked": 0,
      "numericPrecision": 19,
      "numericSigned": null,
      "autoIncrement": false,
      "dataType": "datetime",
      "selectType": null,
      "typeExtra": null,
      "extraValue": null,
      "extraMap": null,
      "ordinalPosition": 15,
      "refLocalCol": null,
      "abstractColumnExpressions": null,
      "foreignColName": null,
      "columnName": "delete_at",
      "columnComment": "删除时间",
      "tableCatalog": null,
      "enableStatus": 1,
      "numericScale": 0,
      "foreignTable": null,
      "autoAdd": null,
      "autoName": null,
      "synced": 0,
      "encrypted": 0,
      "marker": null,
      "drawed": 1,
      "deptId": null,
      "buId": null,
      "tenantCode": null,
      "delStatus": 0
    },
    {
      "id": "col_user_tenant_code",
      "appId": null,
      "tableId": "tbl_user_001",
      "fieldName": "tenantCode",
      "isUnique": false,
      "isNullable": true,
      "columnDefault": null,
      "description": "租户编码",
      "columnType": "varchar(64)",
      "title": "租户编码",
      "characterMaxinumLength": 64,
      "datetimePrecision": "0",
      "tableSchema": "platform",
      "tableName": "platform_user",
      "isForeignColumn": false,
      "abstractColumn": null,
      "extra": null,
      "columnKey": false,
      "linked": 0,
      "numericPrecision": 19,
      "numericSigned": null,
      "autoIncrement": false,
      "dataType": "varchar",
      "selectType": null,
      "typeExtra": null,
      "extraValue": null,
      "extraMap": null,
      "ordinalPosition": 16,
      "refLocalCol": null,
      "abstractColumnExpressions": null,
      "foreignColName": null,
      "columnName": "tenant_code",
      "columnComment": "租户编码",
      "tableCatalog": null,
      "enableStatus": 1,
      "numericScale": 0,
      "foreignTable": null,
      "autoAdd": null,
      "autoName": null,
      "synced": 0,
      "encrypted": 0,
      "marker": null,
      "drawed": 1,
      "deptId": null,
      "buId": null,
      "tenantCode": null,
      "delStatus": 0
    },
    {
      "id": "col_user_seq_no",
      "appId": null,
      "tableId": "tbl_user_001",
      "fieldName": "seqNo",
      "isUnique": false,
      "isNullable": true,
      "columnDefault": "0",
      "description": "排序",
      "columnType": "int",
      "title": "排序",
      "characterMaxinumLength": null,
      "datetimePrecision": "0",
      "tableSchema": "platform",
      "tableName": "platform_user",
      "isForeignColumn": false,
      "abstractColumn": null,
      "extra": null,
      "columnKey": false,
      "linked": 0,
      "numericPrecision": 19,
      "numericSigned": null,
      "autoIncrement": false,
      "dataType": "int",
      "selectType": null,
      "typeExtra": null,
      "extraValue": null,
      "extraMap": null,
      "ordinalPosition": 17,
      "refLocalCol": null,
      "abstractColumnExpressions": null,
      "foreignColName": null,
      "columnName": "seq_no",
      "columnComment": "排序",
      "tableCatalog": null,
      "enableStatus": 1,
      "numericScale": 0,
      "foreignTable": null,
      "autoAdd": null,
      "autoName": null,
      "synced": 0,
      "encrypted": 0,
      "marker": null,
      "drawed": 1,
      "deptId": null,
      "buId": null,
      "tenantCode": null,
      "delStatus": 0
    }
  ]
}
