{
  "id": "chk_{{.EntityNameLower}}_{{.CheckID}}",
  "title": "{{.Title}}",
  "code": "{{.Code}}",
  "tableSchema": "platform",
  "connectId": null,
  "tableId": "{{.TableID}}",
  "tableName": "{{.TableName}}",
  "columnId": null,
  "columnName": null,
  "type": "{{.Type}}",
  "checkClause": "{{.CheckClause}}",
  "description": "{{.Description}}",
  "enableStatus": 1,
  "appId": "{{.AppID}}",
  "synced": 0,
  "delStatus": 0
}
