{
  "id": "col_{{.EntityNameLower}}_{{.FieldNameLower}}",
  "appId": "{{.AppID}}",
  "tableId": "{{.TableID}}",
  "fieldName": "{{.FieldName}}",
  "isUnique": false,
  "isNullable": true,
  "columnDefault": null,
  "description": "{{.Comment}}",
  "columnType": "{{.ColumnType}}",
  "title": "{{.FieldName}}",
  "characterMaxinumLength": {{.Length}},
  "datetimePrecision": "{{.DateTimePrecision}}",
  "tableSchema": "platform",
  "tableName": "{{.TableName}}",
  "isForeignColumn": false,
  "abstractColumn": null,
  "extra": null,
  "columnKey": false,
  "linked": 0,
  "numericPrecision": 19,
  "numericSigned": null,
  "autoIncrement": false,
  "dataType": "{{.DataType}}",
  "selectType": null,
  "typeExtra": null,
  "extraValue": null,
  "extraMap": null,
  "ordinalPosition": {{.OrdinalPosition}},
  "refLocalCol": null,
  "abstractColumnExpressions": null,
  "foreignColName": null,
  "columnName": "{{.ColumnName}}",
  "columnComment": "{{.Comment}}",
  "tableCatalog": null,
  "enableStatus": 1,
  "numericScale": 0,
  "foreignTable": null,
  "autoAdd": null,
  "autoName": null,
  "synced": 0,
  "encrypted": 0,
  "marker": null,
  "drawed": 1,
  "delStatus": 0
}
