{
  "id": "fk_{{.EntityNameLower}}_{{.FieldName}}",
  "appId": "{{.AppID}}",
  "mainTableSchema": "platform",
  "mainTableId": "{{.TableID}}",
  "mainTable": "{{.TableName}}",
  "mainTableCol": "{{.FieldName}}",
  "foreignTableSchema": "{{.ForeignTableSchema}}",
  "foreignTableId": "{{.ForeignTableID}}",
  "foreignTable": "{{.ForeignTable}}",
  "foreignTableCol": "id",
  "deleteAction": "NO ACTION",
  "updateAction": "NO ACTION",
  "description": "{{.Description}}",
  "enableStatus": 1,
  "delStatus": 0,
  "seqNo": {{.SeqNo}}
}
