# -*- coding: utf-8 -*-
"""
@api
@name {{.APIName}}
@path /api/{{.APIPath}}
@method POST
@description API description
@version 1.0.0
"""

# @param
# name: param1
# type: String
# required: true
# description: Parameter 1

# @return
# type: Object
# description: Response data


def main(params):
    param1 = params.get('param1')

    # TODO: Add your business logic here

    return {
        'code': 200,
        'message': 'success',
        'data': {
            'result': True
        }
    }
