{
  "meta": {
    "version": "1.0.0",
    "appId": "app_{{.AppName}}",
    "name": "{{.AppName}}",
    "description": "A Geelato application",
    "createdAt": "{{.CreatedAt}}"
  },
  "config": {
    "api": {
      "url": "",
      "timeout": 30
    },
    "repo": {
      "url": "{{.Repo}}"
    },
    "sync": {
      "autoPush": false,
      "autoPull": false
    }
  }
}
