{
  "meta": {
    "version": "1.0.0",
    "createdAt": "{{.CreatedAt}}"
  },
  "page": {
    "id": "{{.PageID}}",
    "appId": "{{.AppID}}",
    "extendId": null,
    "code": "{{.PageName}}",
    "description": "{{.Description}}",
    "type": "{{.Type}}",
    "title": "{{.PageName}}",
    "checkStatus": "unchecked",
    "checkUserId": "",
    "checkUserName": "",
    "checkAt": null,
    "version": 1,
    "seqNo": 0
  }
}
